.container {
    width: 1000px;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.content {
    display: flex;
    gap: 10px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}